/132.json
/aaa.csv
/Abracadabra__1_.txt
/adress_1000000.csv
/Alphabet.json
/coursindi.py
/coursindi2.py
/coursindi2.spec
/csvFile_part (1).csv
/easy_passwords.txt
/group_people.json
/index.html
/json_string.json
/jsonFileP1.json
/lorem.txt
/numbers.txt
/output.csv
/output_jsons.json
/ppp
/proxy.txt
/summ
/summ.json
/test_Dialect.csv
/user_agent.txt
/async.py
/bals.json
